@page
@model BookStore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for purchasing books from us!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to store</a>

</div>
